<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sbmpc_franka_arm_gazebo">
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  <xacro:include filename="$(find franka_gazebo_bringup)/urdf/sensors.xacro"/>
  <xacro:include filename="$(find franka_gazebo_bringup)/urdf/gravity_overrides.xacro"/>

  <xacro:arg name="robot_type" default="fer"/>
  <xacro:arg name="arm_prefix" default=""/>
  <xacro:arg name="no_prefix" default="false"/>
  <xacro:arg name="hand" default="false"/>
  <xacro:arg name="ee_id" default="franka_hand"/>
  <xacro:arg name="special_connection" default=""/>
  <xacro:arg name="xyz_ee" default="0 0 0"/>
  <xacro:arg name="rpy_ee" default="0 0 ${-pi/4}"/>
  <xacro:arg name="tcp_xyz" default="0 0 0.1034"/>
  <xacro:arg name="tcp_rpy" default="0 0 0"/>
  <xacro:arg name="safety_distance" default="0.03"/>
  <xacro:arg name="with_sc" default="false"/>
  <xacro:arg name="ros2_control" default="true"/>
  <xacro:arg name="robot_ip" default=""/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="fake_sensor_commands" default="false"/>
  <xacro:arg name="gazebo" default="true"/>
  <xacro:arg name="gazebo_effort" default="true"/>
  <xacro:arg name="description_pkg" default="franka_description"/>
  <xacro:arg name="xyz" default="0 0 0"/>
  <xacro:arg name="rpy" default="0 0 0"/>
  <xacro:arg
    name="inertials_file"
    default="$(find franka_description)/robots/fer/inertials.yaml"
  />

  <xacro:property name="prefix" value="$(arg arm_prefix)"/>
  <xacro:property name="modified_prefix" value="${prefix + '_' if prefix else ''}"/>

  <xacro:if value="$(arg gazebo)">
    <link name="world"/>
    <joint name="world_joint" type="fixed">
      <origin xyz="$(arg xyz)" rpy="$(arg rpy)"/>
      <parent link="world"/>
      <child link="${modified_prefix}$(arg robot_type)_link0"/>
    </joint>
  </xacro:if>

  <xacro:franka_robot
    robot_type="$(arg robot_type)"
    joint_limits="${xacro.load_yaml('$(find franka_description)/robots/$(arg robot_type)/joint_limits.yaml')}"
    inertials="${xacro.load_yaml('$(arg inertials_file)')}"
    kinematics="${xacro.load_yaml('$(find franka_description)/robots/$(arg robot_type)/kinematics.yaml')}"
    dynamics="${xacro.load_yaml('$(find franka_description)/robots/$(arg robot_type)/dynamics.yaml')}"
    gazebo="$(arg gazebo)"
    hand="$(arg hand)"
    ee_id="$(arg ee_id)"
    special_connection="$(arg special_connection)"
    xyz_ee="$(arg xyz_ee)"
    rpy_ee="$(arg rpy_ee)"
    tcp_xyz="$(arg tcp_xyz)"
    tcp_rpy="$(arg tcp_rpy)"
    safety_distance="$(arg safety_distance)"
    with_sc="$(arg with_sc)"
    ros2_control="$(arg ros2_control)"
    robot_ip="$(arg robot_ip)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    gazebo_effort="$(arg gazebo_effort)"
    no_prefix="$(arg no_prefix)"
    arm_prefix="${modified_prefix}"
    description_pkg="$(arg description_pkg)"
    connected_to="base"/>

  <xacro:franka_gazebo_arm_imus
    arm_prefix="$(arg arm_prefix)"
    robot_type="$(arg robot_type)"
    imu_side="top"/>
  <xacro:franka_gazebo_arm_imus
    arm_prefix="$(arg arm_prefix)"
    robot_type="$(arg robot_type)"
    imu_side="bottom"/>
  <xacro:disable_arm_gravity prefix="$(arg arm_prefix)" robot_type="$(arg robot_type)"/>
</robot>
